@charset "UTF-8";
/* contentHeader.scss */

@import '@styles/utils';

:root {
  --contentHeader-title-font-size: 28px;
  --contentHeader-description-font-size: 13px;

  @include media("tablet") {
    --contentHeader-title-font-size: 32px;
    --contentHeader-description-font-size: 14px;
  }
}

.content_header { 
  padding: 30px 0;
  box-sizing: border-box;

  @include media("tablet") {
    padding: 40px 0;
    text-align: center;
  }
}

.title {
  margin-bottom: 5px;
  font-size: var(--contentHeader-title-font-size);
}

.description {
  font-size: var(--contentHeader-description-font-size);
  color: #6e6d7a;
}