@charset "UTF-8";
/* postItem.scss */

@import '@styles/utils';

.item {
  position: relative;
  box-sizing: border-box;
  flex: 1 1 100%;
  height: 400px;
  padding: 0 5px;

  @include media("tablet") {
    flex: 0 0 50%;
    padding: 0 5px;
  }

  @include media("pc") {
    flex: 0 0 33.33333%;
    padding: 0 10px;
  }

  @include media("wide") {
    flex: 0 0 25%;
  }
}